<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dk.tec.velfaerdsapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_custom_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_custom_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VelfaerdsApp">
        <activity android:name=".SelectAvatar"></activity>
        <activity android:name=".QuestionTutorial" />
        <activity android:name=".ResultPage" />
        <activity android:name=".TouchActivityHandler" />
        <activity android:name=".The24Strengths" />
        <activity android:name=".EmailPage" />
        <activity android:name=".SelectPage" />
        <activity android:name=".ModPage" />
        <activity android:name=".NysPage" />
        <activity android:name=".BesPage" />
        <activity android:name=".TakPage" />
        <activity android:name=".SamPage" />
        <activity android:name=".SocPage" />
        <activity
            android:name=".IntroPage"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <!--
<activity android:name=".QuestionsPage" />
        <activity android:name=".CustomAvatar" />
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>